* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  perspective: 1000px;
  
}

.container{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.card{
  transform-style: preserve-3d;
  min-height: 80vh;
  width: 35rem;
  border-radius: 30px;
  padding: 0rem 5rem;
  box-shadow: 0 20px 20px rgba(0,0,0,0.2), 0px 0px 50px rgba(0,0,0,0.2) ;
  align-items: center;
  justify-content: center;
}

.yeezy{
  min-height: 35vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.yeezy img{
  width: 15rem;
  margin-top: 2rem;
  z-index: 2;
  transition: all 0.75s ease-out;
}

.circle{
  width: 13rem;
  height: 13rem;
  background: linear-gradient(
    to right,
    rgba(252, 92, 125, 0.75),
    rgba(106, 130, 251, 0.75)
  );
  position: absolute;
  border-radius: 50%;
  z-index: 1;
}

.info h1{
  font-size: 2rem;
  transition: all 0.75s ease-out;
}

.info h3 {
  font-size: 1.3rem;
  padding: 2rem 0.5rem;
  color: #585858;
  font-weight: lighter;
  transition: all 0.75s ease-out;
}

.sizes{
  display: flex;
  justify-content: space-between;
  transition: all 0.75s ease-out;
}

.sizes button{
  padding: 0.5rem 2rem;
  background: none;
  border: none;
  box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
  border-radius: 30px;
  cursor: pointer;
  font-weight: bold;
  color: #585858;
}

button.active{
  background: #585858;
  color: white;
}

.purchase{
  margin-top: 3.5rem;
  transition: all 0.75s ease-out;
}

.purchase button{
  width: 100%;
  padding: 1rem 0rem;
  background:rgba(106, 130, 251, 0.75);
  border-radius: 30px;
  color: white;
  cursor: pointer;
  border: none;
  font-weight: bolder;
  transition: all 0.75s ease-out;
}